services:
  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_DB=member
      - POSTGRES_PASSWORD=secret
      - POSTGRES_USER=myuser
    ports:
      - '5433:5432'

  redis:
    image: 'redis:7-alpine'
    ports:
      - '6379:6379'
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

volumes:
  redis-data: