services:
  # --- Database (Postgres) ---
  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_DB=member
      - POSTGRES_PASSWORD=secret
      - POSTGRES_USER=myuser
    ports:
      - '5433:5432'
    networks:
      - app-network

  # --- Cache (Redis) ---
  redis:
    image: 'redis:7-alpine'
    ports:
      - '6379:6379'
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data
    networks:
      - app-network

  # --- Search Engine (Elasticsearch) ---
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.3.0
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - cluster.name=docker-cluster
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data
    networks:
      - app-network
    # 중요: ES가 살아있는지 확인하는 체크 로직
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -vq '\"status\":\"red\"'"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- Visualization (Kibana) ---
  kibana:
    image: docker.elastic.co/kibana/kibana:9.3.0
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      elasticsearch:
        condition: service_healthy # ES가 완전히 'Healthy' 상태가 된 후 실행
    networks:
      - app-network

volumes:
  redis-data:
  es-data:
    driver: local

networks:
  app-network:
    driver: bridge