spring:


  datasource:
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    url: jdbc:p6spy:postgresql://localhost:5433/member?rewriteBatchedStatements=true
    username: myuser
    password: secret

  jpa:
    hibernate:
      ddl-auto: validate